---
BasedOnStyle: LLVM
IndentWidth: 2
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Right
ColumnLimit: 0
AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping: 
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
BreakConstructorInitializers: AfterColon
BreakTemplateDeclarations: MultiLine
CompactNamespaces: true
ContinuationIndentWidth: 2
IndentCaseBlocks: true
IndentCaseLabels: true
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelOnASingleLine: true